@import url("general.css");

.welcome {
    justify-content: center;
    display: flex;
    background-color: var(--primary-color);
    color:white;
    height: 90px;
    align-items: center;
   
}
.navbar {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    background-color: var(--secondary-color);

}

.main {
    display: flex;
    justify-content: center;
  

}
.articolo {
    border: 1px solid black;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}
p {
    margin: 24px ;
}
img {
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px rgba(26, 25, 25, 0.791) ;

}


.footer {
    display: flex;
    color: white;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}